@keyframes trans {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#EXT_PHOTOS {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
  top: 0;
  left: 0;
  position: fixed;
}

#EXT_PHOTOS.hidden {
  display: none;
}

#EXT_PHOTOS_CURRENT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  inset: 0;
}

#EXT_PHOTOS_CURRENT.animated {
  animation-name: trans;
  animation-duration: 2s;
}

#EXT_PHOTOS_BACK {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  inset: 0;
  filter: blur(10px) sepia(80%) brightness(40%);
}
