**/node_modules/
/*.js
/components/**/*.js
/EXTs/EXT-*/EXT-*.js
/EXTs/EXT-*/node_helper.js
/EXTs/EXT-*/components/**/*.js
/EXTs/EXT-*/node_modules/

/EXTs/EXT-Librespot/components/librespot/cache/credentials.json
/EXTs/EXT-Librespot/components/librespot/cache/files/*
/EXTs/EXT-Librespot/components/librespot/cache/volume
/EXTs/EXT-Librespot/components/sources/
/EXTs/EXT-Librespot/components/librespot/librespot

/EXTs/EXT-MusicPlayer/cover/*.jpg

/EXTs/EXT-Spotify/tokenSpotify.json

/EXTs/EXT-TelegramBot/cache/*
!/EXTs/EXT-TelegramBot/cache/.keep
/EXTs/EXT-TelegramBot/screenshot/screenshot_*.png

/EXTs/EXT-Website/backup/config.*
/EXTs/EXT-Website/website/tools/.uptimed
/EXTs/EXT-Website/website/tools/*.js

/EXTs/EXT-SmartHome/smarthome.json
/EXTs/EXT-SmartHome/website/tokens/*
!/EXTs/EXT-SmartHome/website/tokens/.keep

/EXTs/EXT-PrixCarburants/data/database/PrixCarburants_instantane.xml
/EXTs/EXT-PrixCarburants/data/download.zip

/EXTs/EXT-NetatmoThermostat/token.json

/website/tools/.uptimed

/EXTs/EXT-Website-/
