**/node_modules/
/*.js
/components/**/*.js
/EXTs/EXT-*/*.js
/EXTs/EXT-*/components/**/*.js
/EXTs/EXT-TelegramBot/cache/*
/EXTs/EXT-TelegramBot/screenshot/screenshot_*.png
/EXTs/EXT-Librespot/components/sources/
/EXTs/EXT-Librespot/components/librespot/librespot
