/*************************
**   MMM-Bugsounet css  **
**   @BuGsounet         **
**************************/

/* sweetAlert CSS */

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(3px);
}

.swal2-container {
  z-index: 100000 !important;
}

.AlertProgressColor {
  background-color: #3cba54;
  height: 1px;
}

.AlertProgressColorError {
  background-color: #db3236;
  height: 1px;
}

.AlertProgressColorWarning {
  background-color: #ffa500;
  height: 1px;
}

.AlertFooterColor {
  color: darkgray;
}

.AlertMessageContainer {
  display: inline-flex;
  align-items: center;
}

.AlertMessageIcon {
  width: 60px;
  height: auto;
  margin-right: 10px;
  aspect-ratio: auto;
}

/*************************
** Bugsounet Sysinfo css *
** @BuGsounet            *
**************************/

#BUGSOUNET_SYSINFO {
  width: 100%;
  height: 100%;
  text-shadow: black 5px 5px 5px;
  font-size: 20px;
  color: #eee;
  font-weight: normal;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background: #212121;
}

#BUGSOUNET_SYSINFO.hidden {
  display: none;
}

#BUGSOUNET-CONTENT_WRAPPER {
  width: 100%;
  overflow-x: hidden;
  flex-direction: column !important;
  padding: 0.5rem;
}

#BUGSOUNET-GPU_CONTAINER,
#BUGSOUNET-HOSTNAME_CONTAINER {
  font-size: x-large;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

#BUGSOUNET-GPU_VALUE.red {
  color: #db3236;
}

#BUGSOUNET-GPU_VALUE.green {
  color: #3cba54;
}

#BUGSOUNET-SYSINFO_CONTAINER {
  text-align: center !important;
  width: 100%;
}

#BUGSOUNET-SYSINFO_NETWORK,
#BUGSOUNET-SYSINFO_UPTIMES,
#BUGSOUNET-SYSINFO_MEMORY,
#BUGSOUNET-SYSINFO_VERSION,
#BUGSOUNET-SYSINFO_CPU {
  width: 25%;
  position: relative;
  color: #fff;
  flex: 0 0 auto;
  padding: 30px;
}

#BUGSOUNET-SYSINFO_STORAGE {
  width: 75%;
  position: relative;
  color: #fff;
  flex: 0 0 auto;
  padding: 30px;
}

#BUGSOUNET-SYSINFO_CONTAINER_ROW {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#BUGSOUNET-SYSINFO_NETWORK_HEADING,
#BUGSOUNET-SYSINFO_STORAGE_HEADING,
#BUGSOUNET-SYSINFO_UPTIMES_HEADING,
#BUGSOUNET-SYSINFO_MEMORY_HEADING,
#BUGSOUNET-SYSINFO_VERSION_HEADING,
#BUGSOUNET-SYSINFO_CPU_HEADING {
  margin-left: 0;
  background: #5c5c5c none repeat scroll 0 0;
  color: #fff;
  border-radius: 2px 2px 0 0;
  padding: 15px 0;
  position: relative;
  display: block;
}

#BUGSOUNET-SYSINFO_STORAGE_LIST,
#BUGSOUNET-SYSINFO_NETWORK_LIST,
#BUGSOUNET-SYSINFO_UPTIMES_LIST,
#BUGSOUNET-SYSINFO_MEMORY_LIST,
#BUGSOUNET-SYSINFO_CPU_LIST,
#BUGSOUNET-SYSINFO_VERSION_LIST {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #666;
  background: #191919;
  font-size: 18px;
}

#BUGSOUNET-SYSINFO_NETWORK-SIGNAL,
#BUGSOUNET-SYSINFO_NETWORK-QUALITY,
#BUGSOUNET-SYSINFO_NETWORK-FREQUENCY,
#BUGSOUNET-SYSINFO_NETWORK-RATE,
#BUGSOUNET-SYSINFO_NETWORK-SSID,
#BUGSOUNET-SYSINFO_NETWORK-DUPLEX,
#BUGSOUNET-SYSINFO_NETWORK-SPEED,
#BUGSOUNET-SYSINFO_NETWORK-INTERFACE,
#BUGSOUNET-SYSINFO_NETWORK-IP,
#BUGSOUNET-SYSINFO_VERSION-ELECTRON,
#BUGSOUNET-SYSINFO_VERSION-MMNODE,
#BUGSOUNET-SYSINFO_VERSION-NODE,
#BUGSOUNET-SYSINFO_VERSION-NPM,
#BUGSOUNET-SYSINFO_VERSION-OS,
#BUGSOUNET-SYSINFO_VERSION-KERNEL,
#BUGSOUNET-SYSINFO_VERSION-BUGSOUNET,
#BUGSOUNET-SYSINFO_VERSION-MM {
  display: inline-flex;
}

#BUGSOUNET-SYSINFO_NETWORK_INFORMATION.hidden,
#BUGSOUNET-SYSINFO_NETWORK-SIGNAL-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-QUALITY-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-FREQUENCY-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-RATE-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-SSID-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-DUPLEX-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-SPEED-VALUE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-SIGNAL.hidden,
#BUGSOUNET-SYSINFO_NETWORK-QUALITY.hidden,
#BUGSOUNET-SYSINFO_NETWORK-FREQUENCY.hidden,
#BUGSOUNET-SYSINFO_NETWORK-RATE.hidden,
#BUGSOUNET-SYSINFO_NETWORK-SSID.hidden,
#BUGSOUNET-SYSINFO_NETWORK-DUPLEX.hidden,
#BUGSOUNET-SYSINFO_NETWORK-SPEED.hidden {
  display: none;
}

#BUGSOUNET-SYSINFO_NETWORK-SIGNAL-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-RATE-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-FREQUENCY-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-QUALITY-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-SSID-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-DUPLEX-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-SPEED-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-INTERFACE-VALUE,
#BUGSOUNET-SYSINFO_NETWORK-IP-VALUE,
#BUGSOUNET-SYSINFO_VERSION-ELECTRON-VALUE,
#BUGSOUNET-SYSINFO_VERSION-MMNODE-VALUE,
#BUGSOUNET-SYSINFO_VERSION-NODE-VALUE,
#BUGSOUNET-SYSINFO_VERSION-NPM-VALUE,
#BUGSOUNET-SYSINFO_VERSION-OS-VALUE,
#BUGSOUNET-SYSINFO_VERSION-KERNEL-VALUE,
#BUGSOUNET-SYSINFO_VERSION-BUGSOUNET-VALUE,
#BUGSOUNET-SYSINFO_VERSION-MM-VALUE {
  margin-left: 5px;
}

#BUGSOUNET-SYSINFO_CPU-TYPE,
#BUGSOUNET-SYSINFO_CPU-SPEED,
#BUGSOUNET-SYSINFO_CPU-USAGE,
#BUGSOUNET-SYSINFO_CPU-GOVERNOR,
#BUGSOUNET-SYSINFO_CPU-TEMP {
  display: inline-flex;
}

#BUGSOUNET-SYSINFO_CPU-TYPE-VALUE,
#BUGSOUNET-SYSINFO_CPU-SPEED-VALUE,
#BUGSOUNET-SYSINFO_CPU-GOVERNOR-VALUE {
  margin-left: 5px;
}

#BUGSOUNET-SYSINFO_MEMORY-SWAP,
#BUGSOUNET-SYSINFO_MEMORY-ACTIVE {
  display: inline-flex;
}

#BUGSOUNET-SYSINFO_MEMORY-SWAP-VALUE-TOTAL,
#BUGSOUNET-SYSINFO_MEMORY-ACTIVE-VALUE-TOTAL {
  margin-left: 5px;
}

#BUGSOUNET-SYSINFO_STORAGE-PROGRESS,
#BUGSOUNET-SYSINFO_MEMORY-SWAP-PROGRESS,
#BUGSOUNET-SYSINFO_MEMORY-ACTIVE-PROGRESS,
#BUGSOUNET-SYSINFO_CPU-TEMP-PROGRESS,
#BUGSOUNET-SYSINFO_CPU-USAGE-PROGRESS {
  text-align: center;
  margin-left: 5px;
  width: -webkit-fill-available;
}

#BUGSOUNET-SYSINFO_STORAGE-PROGRESSBAR,
#BUGSOUNET-SYSINFO_MEMORY-SWAP-PROGRESSBAR,
#BUGSOUNET-SYSINFO_MEMORY-ACTIVE-PROGRESSBAR,
#BUGSOUNET-SYSINFO_CPU-TEMP-PROGRESSBAR,
#BUGSOUNET-SYSINFO_CPU-USAGE-PROGRESSBAR {
  font-size: 12px;
  color: black;
}

#BUGSOUNET-SYSINFO_UPTIMES_RECORD,
#BUGSOUNET-SYSINFO_UPTIMES_CURRENT {
  color: #4885ed;
}

#BUGSOUNET-SYSINFO_UPTIMES_RECORD_SYSTEM,
#BUGSOUNET-SYSINFO_UPTIMES_RECORD_MM,
#BUGSOUNET-SYSINFO_UPTIMES_CURRENT_MM,
#BUGSOUNET-SYSINFO_UPTIMES_CURRENT_SYSTEM {
  display: inline-flex;
  margin-left: 10px;
}

#BUGSOUNET-SYSINFO_UPTIMES_RECORD_SYSTEM_VALUE,
#BUGSOUNET-SYSINFO_UPTIMES_RECORD_MM_VALUE,
#BUGSOUNET-SYSINFO_UPTIMES_CURRENT_MM_VALUE,
#BUGSOUNET-SYSINFO_UPTIMES_CURRENT_SYSTEM_VALUE {
  margin-left: 5px;
}

#BUGSOUNET-SYSINFO_NETWORK_INFORMATION {
  color: #4885ed;
  text-align: center;
}

#BUGSOUNET-SYSINFO_STORAGE_TABLE {
  text-align: center;
}

#BUGSOUNET-SYSINFO_STORAGE_TABLE_HEADER {
  font-size: 18px;
  background: #3a3b45;
  color: #fff;
}

#BUGSOUNET-SYSINFO_STORAGE_TABLE_MOUNT,
#BUGSOUNET-SYSINFO_STORAGE_TABLE_TOTAL,
#BUGSOUNET-SYSINFO_STORAGE_TABLE_USED {
  width: 100px;
}

#BUGSOUNET-SYSINFO_NETWORK_BAR {
  display: flex;
  position: absolute;
  margin-left: 10px;
}

#BUGSOUNET-SYSINFO_NETWORK_BAR.hidden {
  display: none;
}

/** progress **/
.SysInfo-progress {
  padding: 1px;
  background: #212121;
  border-radius: 6px;
  align-self: center;
}

.SysInfo-progress-bar {
  height: 16px;
  border-radius: 4px;
  background-image: linear-gradient(
    to top,
    rgb(255 255 255 / 30%),
    rgb(255 255 255 / 5%)
  );
  transition: 1s linear;
  transition-property: width, background-color;
  text-shadow: none;
}

/** wireless **/
:root {
  --SysInfo-wireless-icon-width: auto;
  --SysInfo-wireless-icon-height: 20px;
  --SysInfo-wireless-icon-padding: 4px;
  --SysInfo-wireless-bar-width: 5px;
  --SysInfo-wireless-bar-spacing: 2px;
  --SysInfo-wireless-bar-radius: 2px;
  --SysInfo-wireless-bar-color: #0c0;
  --SysInfo-wireless-bar-start-opacity: 0.2;
}

.SysInfo-icon__signal-strength {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: var(--SysInfo-wireless-icon-width);
  height: var(--SysInfo-wireless-icon-height);
  padding: var(--SysInfo-wireless-icon-padding);
}

.SysInfo-icon__signal-strength span {
  display: inline-block;
  width: var(--SysInfo-wireless-bar-width);
  margin-left: var(--SysInfo-wireless-bar-spacing);
  transform-origin: 100% 100%;
  background-color: var(--SysInfo-wireless-bar-color);
  border-radius: var(--SysInfo-wireless-bar-radius);
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-1 {
  height: 25%;
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-2 {
  height: 50%;
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-3 {
  height: 75%;
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-4 {
  height: 100%;
}

.SysInfo-signal-0 .SYSINFO_BAR-1,
.SysInfo-signal-0 .SYSINFO_BAR-2,
.SysInfo-signal-0 .SYSINFO_BAR-3,
.SysInfo-signal-0 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

.SysInfo-signal-1 .SYSINFO_BAR-2,
.SysInfo-signal-1 .SYSINFO_BAR-3,
.SysInfo-signal-1 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

.SysInfo-signal-2 .SYSINFO_BAR-3,
.SysInfo-signal-2 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

.SysInfo-signal-3 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

#Bugsounet-API {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
}

#Bugsounet-API .modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  overflow: auto;
  background-color: #fefefe;
  width: 100%;
}

#Bugsounet-API .modal-header {
  padding: 10px 20px;
  background-color: red;
  color: white;
}

#Bugsounet-API .modal-body {
  padding: 10px;
  color: black;
}

#Bugsounet-API .modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Bugsounet-API .modal-container .text {
  display: flex;
  flex-direction: column;
}

#Bugsounet-API .time-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#Bugsounet-API .time-container .time-text {
  margin-right: 5px;
}

#Bugsounet-API .time-container .time {
  margin: 0;
}
