#EXT_TOUCH {
  display: inline-flex;
}

#EXT_TOUCH.hidden {
  display: none;
}

#EXT_TOUCH-ICON {
  background-size: 100%;
  width: 50px;
  height: 52px;
  background-repeat: no-repeat;
}

#EXT_TOUCH-ICON.busy {
  filter: brightness(50%) grayscale(75%);
}

#EXT_TOUCH-ICON.hidden {
  display: none;
}

#EXT_TOUCH-ICON.flash {
  opacity: 1;
  animation: flash normal 1.5s infinite ease-in-out;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
